body { margin:0; overflow:hidden; background:#000; }
#ui {
  position:fixed; top:10px; left:10px;
  background:#0008; padding:10px; border-radius:8px;
  color:white; font-family:sans-serif;
}
label { display:block; margin-top:6px; }

#selectionBox {
  position:fixed;
  display:none;
  border:1px dashed #0f0;
  background:rgba(0,255,0,0.15);
  pointer-events:none;
}
